<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to "Log Out!", session_url, method: :delete %>
  <% else %>
    <%= link_to "Sign Up!", new_user_url %>
    <%= link_to "Sign In!", new_session_url %>
  <% end %>

  <%= link_to "Home", subs_url %>
<%= yield %>

</body>
</html>
